* {
  font-family: 'Russo One', sans-serif;
}

.App {
  text-align: center;
  display: flex;
}

button {
  padding: 5px;
  margin: 1px;
  border-radius: 10px;
  border: 4px groove rgb(78, 20, 20);
} 

button:focus {
  background-color: rgba(167, 167, 167);
}
